{% extends "template.html" %}

{% block content %}


            <div class="col-lg-10 col-12 mx-auto">
                <div class="booking-form-wrap">
                    <div class="row">
                        <div class="col-lg-7 col-12 p-0">
                            <form class="custom-form booking-form" method="post" action="/personas/modificar" role="form">
                                <div class="text-center mb-4 pb-lg-2">
                                    <em class="text-white">Universidad Nacional de Loja</em>

                                    <h2 class="text-white">Editar Info Persona</h2>
                                    
                                    <a href="/personas" class="btn custom-btn custom-border-btn">Regresar</a>
                                </div>

                                <div class="booking-form-body">
                                    <input type="hidden" name="id" id="id" class="form-control" placeholder="id" required value="{{ data._id }}">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombres"  required required value="{{ data._nombre }}">>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <input type="text" name="apellidos" id="apellidos" class="form-control" placeholder="Apellidos" required required value="{{ data._apellidos }}">>
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono" required maxlength="10" required value="{{ data._telefono }}">>
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <input type="text" name="dni" id="dni" class="form-control" placeholder="DNI" required maxlength="10" required value="{{ data._dni }}">>
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <input type="text" name="direccion" id="direccion" class="form-control" placeholder="Direccion" required value="{{ data._direccion }}">>
                                        </div>

                                        <!-- <div class="col-lg-6 col-12">
                                            <input type="text" name="tipoIdentificacion" id="tipoIdentificacion" class="form-control" placeholder="Tipo de Identificacion" required>
                                        </div> -->
                                        <button type="submit" id="guardar" class="btn custom-btn custom-border-btn">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-5 col-12 p-0">
                            <div class="booking-form-image-wrap">
                                
                                <img src="{{ url_for('static', filename='images/barman-with-fruits.jpg')}}" class="booking-form-image img-fluid" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

{% endblock %}


